#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: small;
    background-color: #213547;
}

.table, .table th, .table td {
    border: 1px solid aqua;
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
    font-family: "Noto Sans", sans-serif;
}

h2 {
    margin: 1rem 0;
    font-family: "Noto Sans", sans-serif;
    color: darkslategray;
}

.table {
    margin: 0 auto;
    width: 600px;
}

.table-header {
    background-color: cadetblue;
    color: #213547;
}

.table-column-header {
    background-color: #213547;
    color: darkseagreen;
}

.table-data {
    background-color: #213547;
    color: darkcyan;
}

.table-data-new {
    background-color: #213547;
    color: darkcyan;
}

.link-pointer {
    cursor: pointer;
    color: darkcyan;
}

input, textarea, select, option, button {
    margin: 5px;
    padding: 5px;
    font-family: "Noto Sans", sans-serif;
    background-color: #213547;
    color: darkcyan;
    font-size: small;
}

.small-text-hint {
    font-size: x-small;
    color: darkcyan;
}

.edit-td-header {
    background-color: #213547;
    color: darkcyan;
    text-align: right;
    width: 150px;
}

.edit-td-data {
    background-color: #213547;
    color: darkcyan;
    text-align: left;
}